{% extends 'gis_x/layout.html'%}

{% block title %} Главная страница {% endblock %}

{% load static %}

{% block content %}

<h1>GIS</h1>
<div style="height:800px;" id="map"></div>

 <h1>Fields</h1>
    <p id="json-array"></p>
    


   <script>

        // Создание карты Leaflet
        var map = L.map('map').setView([54.954269086,89.57387661], 13);

        /* Добавление слоя карты
        L.tileLayer('http://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }).addTo(map);
        */

        var googleLayer = L.tileLayer('http://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18
        });

// Создание объекта слоя карты OpenStreetMap
        var openStreetMapLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18
        });

        var geojson =
              {"type": "FeatureCollection", "features": [

                {% for data in result_data %}

                    {{data.geojson | safe }},

                {% endfor %}

       ]}

var geojsonLayer = L.geoJSON(geojson, {

      style: function(feature) {

        var tluValue = feature.properties.tlu;
        var color;

        switch (tluValue) {
          case 'пашня':
            color = 'red';
            break;
          case 'пастбище':
            color = 'blue';
            break;
          case 'сенокос':
            color = 'green';
            break;
          case 'залежь':
            color = 'yellow';
            break;
          default:
            color = 'gray';
        }

        return {
          fillColor: color,
          fillOpacity: 0.1,
          color: 'black',
          weight: 1
        };
      },

  onEachFeature: function(feature, layer) {
    layer.bindPopup('Номер хозяйства : ' + feature.properties.farm_id + '<br>Номер поля: ' + feature.properties.f_id +
      '<br>TLU: ' + feature.properties.tlu
      + '<br>Площадь: ' + feature.properties.area);

    var selectedPolygon = null;
    var originalStyle = null;

    layer.on('click', function(e) {

      if (e.target.options.weight === 2) {
        // Снятие выделения с выбранного полигона
        e.target.setStyle({ weight: 1, color:black});
      } else {
        // Снятие выделения с предыдущего выбранного полигона
        geojsonLayer.eachLayer(function(layer) {
          if (layer.options.weight === 2) {
            layer.setStyle({ weight: 1, color: 'black' });
          }
        });

        // Выделение текущего полигона
        e.target.setStyle({ weight: 2, color: 'red' });
      }

        var id_g = feature.properties.id_0;
        console.log('ID value:', id_g);
        });
      }
    }).addTo(map);


    var overlayMaps = {
    "Google": googleLayer,
    "OpenStreetMap": openStreetMapLayer,
    "GeoJSON": geojsonLayer
};

L.control.layers(null, overlayMaps).addTo(map);

map.on('click', function(e) {
  geojsonLayer.eachLayer(function(layer) {
    if (layer.options.weight === 2 && layer.options.color === 'red') {
      layer.setStyle({ weight: 1, color: 'black' });
    }
  });
});



    </script>

{% endblock %}
