{% extends 'AgroChemical/layout.html' %}
{% block title %} О Нас {% endblock %}
{% load static %}
{% block content %}

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        {% for art in article %}

                           <center><h1>{{ art.title }}</h1></center>
                           <p>{{ art.text|safe}}</p>
                           </div>
                       {% endfor %}

                </div>
            </div>
{% endblock %}